.layout-title {
  font-weight: 700;
  font-size: 22px;
  color: #111827;
  display: flex;
  align-items: center;
}

.layout-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #6B7280;
  margin-left: 8px;
}

.layout-back-button {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.layout-clock-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}